<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{::title}, ~{})}">
    <title>Cadastrar Consulta</title>
</head>

<body>
<main>
    <div class="container">
        <h1>Cadastrar Consulta</h1>
        <hr>
        <div class="row d-flex justify-content-center align-items-center h-100 mb-5">
            <form class="row g-3" th:action="${consulta.id == 0} ? @{/consultas/save} : @{/consultas/update}"
                  th:object="${consulta}"
                  method="post">
                <input class="form-control" type="hidden" th:field="*{id}">

<!--                Input para registrar o paciente, com o modal correspondente -->
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <div class="form-floating">
                            <input class="form-control" type="hidden" th:field="*{paciente.id}" id="paciente_id">
                            <input type="text" class="form-control" placeholder="Nome do Paciente"
                                   aria-label="Recipient's username" aria-describedby="basic-addon2" id="paciente_nome">
                            <label for="paciente_nome">Nome do Paciente</label>
                        </div>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-secondary" id="basic-addon2" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                            <span class="input-group-text" data-bs-target="#exampleModal"><i
                                    class="bi bi-search"></i></span>
                        </button>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Lista de Pacientes</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>CPF</th>
                                    </tr>
                                    </thead>
                                    <tr class="pessoa-item" th:each="p : ${pacientes}">
                                        <td th:text="${p.nome}"></td>
                                        <td th:text="${p.cpf}"></td>
                                        <td><a href="#"
                                               th:data-id="${p.id}"
                                               th:data-nome="${p.nome}"
                                               th:onclick="javascript:colocaPaciente(this.getAttribute('data-id'),this.getAttribute('data-nome'))">
                                            Selecione</a></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--                Input para registrar o médico, com o modal correspondente -->
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <div class="form-floating">
                            <input class="form-control" type="hidden" th:field="*{medico.id}" id="medico_id">
                            <input type="text" class="form-control" placeholder="Nome do Médico"
                                   aria-label="Recipient's username" aria-describedby="basic-addon" id="medico_nome">
                            <label for="medico_nome">Nome do Médico</label>
                        </div>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-secondary" id="basic-addon" data-bs-toggle="modal"
                                data-bs-target="#exampleModal2">
                            <span class="input-group-text" data-bs-target="#exampleModal2"><i
                                    class="bi bi-search"></i></span>
                        </button>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel2">Lista de Médicos</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>CRM</th>
                                    </tr>
                                    </thead>
                                    <tr th:each="m : ${medicos}">
                                        <td th:text="${m.nome}"></td>
                                        <td th:text="${m.crm}"></td>
                                        <td><a href="#"
                                               th:data-medico-id="${m.id}"
                                               th:data-medico-nome="${m.nome}"
                                               th:onclick="javascript:colocaMedico(this.getAttribute('data-medico-id'),this.getAttribute('data-medico-nome'))">
                                            Selecione</a></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating">
                        <input class="form-control" id="data" type="datetime-local" th:field="*{data}"
                               placeholder="Data">
                        <label for="data">Data</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input class="form-control" id="valor" type="number" th:field="*{valor}" placeholder="Valor">
                        <label for="valor">Valor</label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-floating">
                    <textarea class="form-control" id="observacao" th:field="*{observacao}" placeholder="Observação"
                              rows="5"></textarea>
                        <label for="observacao">Observação</label>
                    </div>
                </div>
                <input class="btn btn-outline-primary" type="submit" value="Enviar">
                <a th:href="@{/consultas/list}" class="btn btn-secondary">Lista</a>
            </form>
        </div>
    </div>


    <script th:inline="javascript">
        function colocaPaciente(id, nome) {
            let pacId = document.getElementById("paciente_id");
            let pacNome = document.getElementById("paciente_nome");
            pacNome.value = nome;
            pacId.value = id;
            document.getElementById('#exampleModal').hide();
        }

        function colocaMedico(id, nome) {
            let medId = document.getElementById("medico_id");
            let medNome = document.getElementById("medico_nome");
            medNome.value = nome;
            medId.value = id;
        }
    </script>


</main>
</body>
</html>