<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Consultas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

<div class="container">
    <div th:replace="base :: navlinks"></div>
    <h1>Lista de Consultas</h1>
    <hr>
    <h3 class="text-primary" th:if="${paciente != null }" th:text="'Paciente: '+${paciente.nome}"></h3>
    <h3 class="text-primary" th:if="${medico != null }" th:text="'Médico: '+${medico.nome}"></h3>
    <hr th:if="${paciente != null || medico != null}">
    <h5 class="text-success" th:if="${paciente != null }" th:text="'Total gasto com consultas: '+${#numbers.formatCurrency(paciente.totalConsultas())}"></h5>
    <h5 class="text-success" th:if="${medico != null }" th:text="'Total gerado com consultas: '+${#numbers.formatCurrency(medico.totalConsultas())}"></h5>
    <h5 class="text-success" th:if="${totalConsultas != null }" th:text="'Total das consultas: '+${#numbers.formatCurrency(totalConsultas)}"></h5>
    <hr>
    <a class="btn btn-outline-dark" th:href="@{/consultas/form}">Nova Consulta</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th th:if="${paciente == null }" th:text="'Paciente'"></th>
            <th th:if="${medico == null }" th:text="'Médico'"></th>
            <th>Data</th>
            <th colspan="3">#Links</th>
        </tr>
        </thead>
        <tr th:each="c : ${consultas}">
            <td th:text="${c.id}"></td>
            <td th:if="${paciente == null }" th:text="${c.paciente.nome}"></td>
            <td th:if="${medico == null }" th:text="${c.medico.nome}"></td>
            <td th:text="${#temporals.format(c.data, 'dd/MM/yyyy HH:mm')}"></td>
            <td><a class="btn btn-outline-primary" th:href="@{/consultas/details/{id}(id=${c.id})}">Detalhes</a></td>
            <td><a class="btn btn-outline-secondary" th:href="@{/consultas/edit/{id}(id=${c.id})}">Editar</a></td>
            <td><a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"
                   class="btn btn-outline-danger" th:href="@{/consultas/remove/{id}(id=${c.id})}">Excluir</a></td>
        </tr>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>