<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:insert="~{fragments/head :: head(~{})}">
    <title>Cadastrar Paciente</title>
</head>

<body>
<main>
    <div class="container h-custom">
        <h1>Cadastrar Paciente</h1>
        <hr>
        <div class="row d-flex justify-content-center align-items-center h-100 mb-5">
            <form class="row g-3" th:action="${paciente.id == 0} ? @{/pacientes/save} : @{/pacientes/update}"
                  th:object="${paciente}"
                  method="post">
                <input class="form-control" type="hidden" th:field="*{id}">
                <div class="col-md-12">
                    <div class="form-floating">
                        <input class="form-control" id="nome" type="text" th:field="*{nome}" placeholder="Nome">
                        <label for="nome">Nome</label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-floating">
                        <input class="form-control" id="telefone" type="text" th:field="*{telefone}"
                               placeholder="Telefone">
                        <label for="telefone">Telefone</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-primary btn-lg">Enviar</button>
                <a th:href="@{/pacientes/list}" class="btn btn-secondary btn-lg">Lista</a>
            </form>
        </div>
    </div>
</main>
</body>
</html>