<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:insert="~{fragments/head :: head(~{})}">
    <title>Lista de Médicos</title>
</head>

<body>
<main>
    <div class="container">

        <h1 class="text-primary-emphasis">Lista de Médicos</h1>
        <hr>
        <a class="btn btn-outline-dark" th:href="@{form}">Novo Médico</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>CRM</th>
                <th>Consultas</th>
                <th colspan="3">#Links</th>
            </tr>
            </thead>
            <tr th:each="m : ${medicos}">
                <td th:text="${m.id}"></td>
                <td th:text="${m.nome}"></td>
                <td th:text="${m.crm}"></td>
                <td><a class="btn btn-outline-primary" th:href="@{/medicos/consultas/{id}(id=${m.id})}">Consultas</a>
                </td>
                <td><a class="btn btn-outline-secondary" th:href="@{/medicos/edit/{id}(id=${m.id})}">Editar</a></td>
                <td><a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"
                       class="btn btn-outline-danger" th:href="@{/medicos/remove/{id}(id=${m.id})}">Excluir</a></td>
            </tr>
        </table>
    </div>
</main>

</body>
</html>